body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 80%;
    max-width: 400px;
    background-color: #ece5dd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #075e54;
    margin-bottom: 20px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 15px;
    margin: 5px;
    max-width: 70%;
    border-radius: 8px;
    word-wrap: break-word;
}

.my-message {
    align-self: flex-end;
    background-color: #dcf8c6;
    border-bottom-right-radius: 0;
}

.friend-message {
    align-self: flex-start;
    background-color: white;
    border-bottom-left-radius: 0;
}