0.gallery-img {
    width: 800px;
    margin: auto;
}

.img1 {
    border: 3px solid black;
    padding: 20px;  
    margin: 5px 10px;
}

.img2 {
    width: 300px;
    border: 4px solid blue;
    padding: 15px 10px 5px;
    margin: 25px;000000000
}
.img3 {
    width: 300px;
    border-width: 3px 6px 9px 12px; 
    border-style: solid;
    border-color: red green blue orange;
    padding: 15px;
    margin: 30px;
}

.img4 {
    width: 350px;
    border: 6px solid orange;
    padding: 20px;
    margin: 20px;
}