body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div {
  margin: 10px;
  padding: 10px;
}

.blue-appearance {
  background-color: #34b7eb;
}

.yellow-appearance {
  background-color: #f2e055;
}

.red-appearance {
  background-color: #ed6340;
}

.message {
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 20px;
  color: purple;
}
