.blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.yellow-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: default;
}
