/* עיצוב כללי לדף */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

/* עיצוב הריבוע */
.square {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    position: relative; /* כדי שהעיגולים ימוקמו ביחס אליו */
}

/* עיצוב כללי לעיגולים */
.circle {
    border-radius: 50%;
    position: absolute;
}

/* עיגול אדום - 300px */
.red {
    width: 300px;
    height: 300px;
    background-color: red;
    top: 0;
    left: 0;
}

/* עיגול כחול - 200px */
.blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    top: 0;
    left: 0;
}

/* עיגול צהוב - 100px */
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    top: 0;
    left: 0;
}
