body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.gallery img {
    max-width: 150px;
    max-height: 250px;
    height: auto;
    width: auto;
}

.img1 {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
}

.img2 {
    border: 4px solid blue;
    padding: 10px;
    margin: 10px;
}

.img3 {
    border: 5px solid green;
    padding: 15px;
    margin: 15px;
}

.img4 {
    border: 6px solid orange;
    padding: 20px;
    margin: 20px;
}
.img5 {
    border: 4px solid rgb(255, 0, 149);
    padding: 20px;
    margin: 20px;
}
.img6 {
    border: 6px solid black;
    padding: 10px;
    margin: 20px;
}