body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.gallery img {
    max-width: 120px;
    max-height: 200px;
    height: auto;
    width: auto;
}

.img1 {
    border: 3px solid black;
    padding: 5px 10px 15px 20px;  
    margin: 10px 5px 20px 15px;
}

.img2 {
    border: 4px solid blue;
    padding: 15px 5px 10px 20px;
    margin: 5px 15px 25px 10px;
}

.img3 {
    border: 5px solid green;
    padding: 10px 20px 5px 15px;
    margin: 20px 10px 15px 5px;
}

.img4 {
    border: 6px solid orange;
    padding: 20px 15px 10px 5px;
    margin: 10px 25px 5px 15px;
}

.img5 {
    border: 4px solid rgb(255, 0, 149);
    padding: 25px 5px 15px 10px;
    margin: 15px 20px 10px 5px;
}

.img6 {
    border: 6px solid black;
    padding: 10px 25px 5px 20px;
    margin: 20px 5px 15px 10px;
}
