@page {
    size: A4 portrait; 
    
}

body {

    justify-content: space-between;
    align-items: center;
    width: 210mm; /* רוחב דף A4 */
    height: 297mm; /* גובה דף A4 */
    background-color: #f4f4f4;
    padding: 10mm;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.gallery img {
    max-width: 35%; 
    max-height: 40%;
    height: auto;
    width: auto;
    object-fit: cover;
    display: block;
}

.img1 {
    border: 3px solid black;
    padding: 5px 10px 15px 20px;  
    margin: 10px 5px 20px 15px;
}

.img2 {
    border: 4px solid blue;
    padding: 15px 5px 10px 20px;
    margin: 5px 15px 25px 10px;
}

.img3 {
    border: 5px solid green;
    padding: 10px 20px 5px 15px;
    margin: 20px 10px 15px 5px;
}

.img4 {
    border: 6px solid orange;
    padding: 20px 15px 10px 5px;
    margin: 10px 25px 5px 15px;
}

.img5 {
    border: 4px solid rgb(214, 16, 148);
    padding: 5px 10px 5px 10px; 
    margin: 10px 25px 5px 15px;
}

.img6 {
    border: 6px solid black;
    padding: 10px 25px 5px 20px;
    margin: 20px 5px 15px 10px;
}
