
/* עיצוב כללי לדף */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

/* עיצוב המעטפה (todos-container) */
.todos-container {
    width: 200px;
    height: 300px;
    background-color: #FCF4BD;
    padding: 10px;
    border-radius: 10px; /* פינות עגולות של המעטפת */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid black; /* הוספת גבול שחור אחיד בעובי 1 פיקסל */
}

/* עיצוב הכותרת */
#title {
    font-size: 18px;
    font-weight: bold;
    color: #743ae0;
    margin-top: 10px; /* ריווח נוסף בין הכותרת למעטפת */
}

/* עיצוב כל משימה */
.todo {
    width: 150px;
    background-color: Gainsboro;
    padding: 10px; /* ריווח פנימי של הטקסט בתוך המשימה */
    margin: 5px 0;
    border-radius: 5px; /* פינות עגולות של כל משימה */
    font-size: 16px;
    text-align: center;
    border: 1px dashed blue; /* גבול מקווקו בכחול */
}

