
.circle {
    width: 200px;
    height: 200px;
    background-color: cyan;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


