.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  div {
    border: 1px solid black;
  }
  
  .header {
    height: 50px;
  }
  
  .content-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
  }
  
  .categories {
    flex: 1;
  }
  
  .content {
    flex: 3;
  }
   
  .side-content {
    flex: 1;
  }

  .footer {
    height: 50px;
  }
  
  