
.container {
    display: flex;
    flex-wrap: wrap; 
    width: 200px;
    height: 200px;
    border: 2px solid black;
}


.square {
    width: 55px;
    height: 55px;
    border: 2px solid blue;
}
